USE [master]
GO
/****** Object:  Database [PLATAFORMAS_WEB]    Script Date: 20/7/2022 2:02:02 ******/
CREATE DATABASE [PLATAFORMAS_WEB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PLATAFORMAS_WEB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PLATAFORMAS_WEB]
GO
/****** Object:  Table [dbo].[CLIENTS]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTS](
	[clientId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](100) NOT NULL,
	[businessName] [varchar](max) NULL,
	[idType] [varchar](1) NOT NULL,
	[identification] [varchar](13) NOT NULL,
	[cellphone] [varchar](20) NULL,
	[homeAddress] [varchar](100) NULL,
	[workAddress] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[empId] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](100) NULL,
	[managerId] [int] NULL,
	[role] [int] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[empId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[orderId] [int] NOT NULL,
	[lineId] [int] NOT NULL,
	[productCode] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[productCost] [decimal](18, 0) NOT NULL,
	[productPrice] [decimal](18, 0) NOT NULL,
	[canceled] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[orderId] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[status] [varchar](1) NOT NULL,
	[mechanicId] [int] NOT NULL,
	[clientId] [int] NOT NULL,
	[clientName] [varchar](200) NOT NULL,
	[jobTotalCost] [decimal](18, 0) NOT NULL,
	[canceled] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[productCode] [varchar](10) NOT NULL,
	[productDetail] [varchar](100) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[quantity] [int] NOT NULL,
	[cost] [decimal](18, 0) NOT NULL,
	[canceled] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICES]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICES](
	[serviceCode] [varchar](10) NOT NULL,
	[serviceDetail] [varchar](100) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[cost] [decimal](18, 0) NOT NULL,
	[canceled] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 20/7/2022 2:02:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[empId] [int] NULL,
	[role] [int] NULL,
	[locked] [bit] NULL,
	[deleted] [bit] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTS] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[EMPLOYEES] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  DEFAULT ((0)) FOR [canceled]
GO
ALTER TABLE [dbo].[ORDER_DETAILS] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [canceled]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [canceled]
GO
ALTER TABLE [dbo].[PRODUCTS] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[SERVICES] ADD  DEFAULT ((0)) FOR [canceled]
GO
ALTER TABLE [dbo].[SERVICES] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((0)) FOR [deleted]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD FOREIGN KEY([orderId])
REFERENCES [dbo].[ORDERS] ([orderId])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([clientId])
REFERENCES [dbo].[CLIENTS] ([clientId])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([mechanicId])
REFERENCES [dbo].[EMPLOYEES] ([empId])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([userId])
REFERENCES [dbo].[USERS] ([userId])
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD FOREIGN KEY([empId])
REFERENCES [dbo].[EMPLOYEES] ([empId])
GO
USE [master]
GO
